# Twitter credentials: Acquire yours form https://developer.twitter.com
# App-specific credentials
CONSUMER_KEY=
CONSUMER_SECRET=
BEARER_TOKEN=
# User-specific credentials to access the app
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=
# Twitter API v2 credentials
CLIENT_ID=
CLIENT_SECRET=


# Proxy for local development in filtered internet of Iran
HTTPS_PROXY=
https_proxy=

# Flask server port
PORT=
